.whoWeHelp{
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    color: $color-dark-grey;
    h2{
        width: 340px;
        height: 52px;
        margin: 30px auto 0 auto;
        font-size: 38px;
        font-weight: 200;
    }  
    
}
.whoWeHelpTypes{
    font-size: 24px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    width: 750px;
    height: 70px;
    margin: 0 auto;
    li{
        padding: 2px 23px;
        margin: 0 30px;
        text-align: center;
        border: 0.75px solid transparent;
        &:first-of-type{
            padding: 18.5px 23px;
        }
        &:hover{
            border: 0.75px solid $color-dark-grey;
            cursor: pointer;
        }
    }
}
.wrapperWeCooperateWith{
    width: 1044px;
    height: 553px;
    margin: 30px auto 0 auto;
    .mainParagHere{
        width: 640px;
        height: 94px;
        text-align: center;
        font-size: 18px;
        margin: 0 auto 35px auto;
    }
}
// .wrapperWeCoopFundations{
//     width: 100%;
// }
.firstPageFundation{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.firstFundation,
.secondFundation,
.thirdFundation{
    width: 100%;
    height: 76px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #707070;
    margin-bottom: 24px;
    &:last-of-type{
        margin-bottom: 0;
        border: none;
    }
    h4{
        // font-family: $font-alt;
        font-size: 26px;
        font-weight: 200;
    }
    h5{
        font-size: 18px;
        font-weight: 200;
        font-style: italic;
    }
    p{
        font-size: 18px;
        font-weight: 200;
        margin: auto 0;
    }
}
.pagination{
    width: 154px;
    height: 50px;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    margin: 10px auto 10px auto;
    li{
        border: 0.75px solid transparent;
        padding: 13px 15px;
        &:hover{
            border: 0.75px solid $color-dark-grey;
            cursor: pointer;
        }
    }
}
/*>
                            <ul className="pagination">
                                <li>1</li>
                                <li>2</li>
                                <li>3</li>
                            </ul>
                        </div>
                    </div>
                </section>
*/