.decor{
    background-image: url("../../../assets/Decoration.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    width: 253px;
    height: 38px;
    margin: 20px auto 40px auto;
}