.decor{
    background-image: url("../../../assets/Decoration.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    width: 253px;
    height: 33px;
    margin: 25px auto 55px auto;
}