@import "./Decor.scss";

.intro{
    margin-top: 110px;
    width: 674px;
    height: 350px;
    text-align: center;
    margin-right: 150px;
    font-weight: 400;
    color: $color-dark-grey;


    h1{
        font-weight: 400;
        color: $color-dark-grey;
        font-size: 36px;
    }
    ul{
        width: 674px;
        display: flex;
        justify-content: space-between;
        li{
            font-weight: 200;
            font-size: 34px;
            border: 0.75px solid $color-dark-grey;
            color: $color-dark-grey;
            font-family: $font-base;
            width: 310px;
            height: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
            
            &:last-of-type{
                position: relative;
                top: -120px;
                left: 364px;
            }
            &:hover{
                cursor: pointer;
            }
        }
    }
}