@import "./WrapperContact.scss";
@import "./Footer.scss";
@import "./Success.scss";


.contact{
    background-image: url("../../../assets/Background-Contact-Form-opacity25.png");
    background-repeat: no-repeat;
    position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: nowrap;
    flex-direction: column;
}