.errorEmail,
.errorPassword,
.errorPasswordRep{
    color: red;
    margin-left: 67px;
    padding-top: 5px;
    position: relative;
    top: -6px;
    width: 250px;
}
.errorPasswordRep{
    top: -5.5px;
}